#wrapper
  = render 'leftmenu'
  #main
    .show-skin
      %h2
        - if @skin.name == "default"
          = @champion.name
        - else
          = @skin.name
      .skin-splash
        %img{ alt: @skin.name , src: "https://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{@champion.key}_#{@skin.skin_num}.jpg" }/
      %h3
        Other #{@champion.name} Skins
      %ul.lists
        = render partial: "skin", collection: @skins
